.container{
    border-radius: 86px;
    padding: 48px 48px 54px 72px;
    &--header{
        
        position: relative;
    }
}
@media screen and (max-width:1000px){
    .container{
        border-radius: 48px;
        padding: 28px 28px 34px 42px;
    }
}
