.header{
    display: grid;
    gap:6px;
    min-height: 380px;
    height: -webkit-calc(60vh - 6px);
    height: -moz-calc(60vh - 6px);
    height: calc(60vh - 6px);
    //padding:6px;
    &__card{
        height: 100%;
    }
    svg{
        //font-size: 1.5rem;
    }
    .services-link{
        grid-column: 1/3;
        grid-row: 1 / span 2;
        background-color: #A5A1FF; //005EFF
        position: relative;
        
        a{
            color:#fff;
        }
    }
    .contact-link{
        grid-column:3/5;
        grid-row:2;
        background-color: #FFF480;
        a{
            color: #000;
        }
    }
    .projects-link{
        grid-column: 3/4;
        grid-row: 1;
        background-color: #fff;
        a{
            color: #000;
        }
    }
    .about-link{
        grid-column: 4/5;
        grid-row: 1;
        background-color: #1B1B1F;
        a{
            color:#fff;
        }
    }
    &__shape{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 200px;
        height: 200px;
        animation: spinAround 10s infinite linear;
        & > div {
            position: relative;
            height: 100%;   
            width: 100%;
        }
    }
    
    .quarter-circle{
        position: absolute;
        width: 100px; 
        height: 100px; 
        //border: 2px solid #1B1B1F; 
        //background: #1B1B1F;
        animation: spinAround 10s infinite linear;
    }
    .quarter-circle--1{
        top: 0;
        left:0;
        -moz-border-radius: 100% 0 0 0;
        -webkit-border-radius: 100% 0 0 0;
        border-radius: 100% 0 0 0 ;
    }
    .quarter-circle--2{
        top: 0;
        right:0;
        -moz-border-radius: 0 0 100% 0;
        -webkit-border-radius:0 0 100% 0;
        border-radius: 0 100% 0 0 ;
    }
    .quarter-circle--3{
        bottom: 0;
        left:0;
        -moz-border-radius: 0 0 100% 0;
        -webkit-border-radius:0 0 100% 0;
        border-radius: 0 0 0 100% ;
    }
    .quarter-circle--4{
        bottom: 0;
        right:0;
        -moz-border-radius: 0 0 100% 0;
        -webkit-border-radius:0 0 100% 0;
        border-radius: 0 0 100% 0 ;
    }
    .semi-circle{
        width: 100%; 
        height: 50%; 
        border: 2px solid #555; 
        background: #5cb85c;
        -moz-border-radius: 100px 100px 0 0;
        -webkit-border-radius: 100px 100px 0 0;
        border-radius: 100px 100px 0 0;
        animation: spinAround 10s infinite linear;
    }
    
}
///out
.services-link, .contact-link, .projects-link, .about-link{
    transition: 0.5s transform linear;
    overflow: hidden;
    span{
        font-size: 1.1rem;
        font-weight: 900;
    }
    
}
.services-link:hover, .contact-link:hover, .projects-link:hover, .about-link:hover{
    transform: scale(0.95); 
}
.services-link{
    .marquee-animation{
        //transition: visibility 0.3s;
    }
    &:hover{
        .marquee-animation{
            //visibility: hidden!important;
        }
    }
}
.contact-link, .projects-link, .about-link{
    .marquee-animation{
        visibility: hidden;
        animation: show 0.5s linear ;
        transition: visibility 0.5s ;
    }
    &:hover{
        .marquee-animation{
            animation: hide 0.5s linear;
            visibility: visible;
        }
    }
}

@keyframes hide {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes show {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        transform: scale(0.8);
        opacity: 0.3;
    }
}

@keyframes spinAround {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes spinAroundReverse {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}



//keyframes

@media screen and (max-width:1000px){
    .header{
        height: auto;
        .services-link{
            //min-height: 300px;
        }
        
        .services-link{
            grid-column: 1/5;
        }
        .projects-link{
            grid-column: 1/3;
            grid-row: 3;
        }
        .about-link{
            grid-column: 3/5;
            grid-row: 3;
        }
        .contact-link{
            grid-column: 1/5;
            grid-row: 4;
        }
    }
}